*{margin: 0%; padding: 0%; box-sizing: border-box;}
.card {
    border: solid dotted black 1;
}
a:link{
    text-decoration: none;
}
/* .ggg{
    background: rgb(2,87,91);
background: linear-gradient(0deg, rgba(2,87,91,1) 0%, rgba(1,147,191,1) 100%);
}
.gggg{
    background: rgb(29,0,221);
background: linear-gradient(90deg, rgba(29,0,221,1) 0%, rgba(177,130,130,1) 35%, rgba(0,212,255,1) 100%);
} */