<!doctype html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %} | SPAV</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/square_logo.png' %}" type="image/x-icon">
        <!-- OwlCarousel  -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
            integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
            integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <!-- topbar  -->
                    <div class="d-flex bg-light border border-dark">
                        <div class="p-2 flex-grow-1">Flex item</div>
                        <div class="p-2"><a href="/"><i class="bi bi-arrow-down-square-fill"></i> &nbsp; Skip to
                                main</a></div>
                        <div class="p-2"><a href="/"><i class="bi bi-house-fill"></i></a></div>
                        <div class="p-2"><a href="https://email.gov.in/"><i class="bi bi-envelope-fill"></i></a></div>
                        <div class="p-2"><a href="http://itsupport.spav.ac.in/"><i
                                    class="bi bi-gear-wide-connected"></i></a></div>
                        <div class="p-2"><a href="https://eoffice.spav.ac.in/"><i class="bi bi-briefcase-fill"></i></a>
                        </div>
                        <div class="p-2"><a href="https://www.spav.ac.in/directory.html"><i
                                    class="bi bi-phone-fill"></i></a></div>
                        <div class="p-2"><a href="https://www.youtube.com/c/SPAVIJAYAWADAOFFICIAL"><i
                                    class="bi bi-youtube"></i></a></div>
                        <div class="p-2"><a href="https://twitter.com/SPAVIJAYAWADA08"><i class="bi bi-twitter"></i></a>
                        </div>
                        <div class="p-2 border border-light"><a href="/admin" target="_blank"><i
                                    class="bi bi-person-circle"></i></a></div>
                    </div>
                    <!-- topbar  -->
                </div>
                <div class="row p-1">
                    <div class="col-5">
                        <div class="card">
                            <a href="/"><img src="{% static 'img/spav_logo.jpg' %}" alt="" class="card-img p-1"></a>
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="card p-0 bg-primary">
                        <nav class="navbar ggg navbar-expand-lg bg-warning">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Institution
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/actsandstatutes">Acts and
                                                        Statute</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/chairperson">Chairperson</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/director">Director</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/bog">Board of Governors </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/fc">Finance Commitee</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/bwc">Bulding Works Commitee</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/senate">Senate</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/deans">Deans</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/administration">Administration</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/fic">Faculty In Charges</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Academics
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/registration">Registration Form</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Departments
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/planning">Planning</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/architecture">Architecture</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Central Facalities
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/computer-center">Computer Center</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="/health">Health Center</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Research & Innovation
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Collabration
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Student
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                About
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">About SPAV</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Achivements</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Vision</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Campus Highlights</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Contact</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Feedback</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <form class="d-flex" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Search"
                                            aria-label="Search">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- home page  -->
        {% block index %}
        {% endblock index %}
        <!-- home page  -->

        <!-- noticeboard  -->
        {% block noticeboard %}
        {% endblock noticeboard %}
        <!-- noticeboard  -->

        <!-- registration page  -->
        {% block registration %}
        {% endblock registration %}
        <!-- registration page  -->


        <!-- computer center page -->
        {% block cc %}
        {% endblock cc %}
        <!-- computer center page -->

        <!-- chairperson  -->
        {% block chairperson %}
        {% endblock chairperson %}
        <!-- chairperson  -->

        <!-- director page  -->
        {% block director %}
        {% endblock director %}
        <!-- director page  -->

        <!-- actsnstatute page  -->
        {% block actsnstatute %}
        {% endblock actsnstatute %}
        <!-- actsnstatute page  -->

        <!-- bog page  -->
        {% block bog %}
        {% endblock bog %}
        <!-- bog page  -->

        <!-- finance commitee page  -->
        {% block fc %}
        {% endblock fc %}
        <!-- finance commitee page  -->

        <!-- bwc  -->
        {% block bwc %}
        {% endblock bwc %}
        <!-- bwc  -->

        <!-- senate page  -->
        {% block senate %}
        {% endblock senate %}
        <!-- senate page  -->

        <!-- deans page  -->
        {% block deans %}
        {% endblock deans %}
        <!-- deans page  -->

        <!-- administration page  -->
        {% block administration %}
        {% endblock administration %}
        <!-- administration page  -->

        <!-- architecture page  -->
        {% block architecture %}
        {% endblock architecture %}
        <!-- architecture page  -->

        <!-- planning page  -->
        {% block planning %}
        {% endblock planning %}
        <!-- planning page  -->

        <!-- fic's page  -->
        {% block fic %}
        {% endblock fic %}
        <!-- fic's page  -->

        <!-- health center  -->
        {% block health %}
        {% endblock health %}
        <!-- health center  -->


        <br>
        <!-- footer section  -->
        <section>
            <footer>
                <div class="container-fluid ggg text-light ">
                    <div class="row g-1">
                        <div class="col-6 p-1">
                            Last Updated On : __Date__
                        </div>
                        <div class="col-6 p-1">
                            Visitors Count: {{ request.visitors }}
                        </div>
                    </div>
                    <hr class="text-light">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><a href="/"><img src="{% static 'img/spav_logo.jpg' %}" alt=""
                                            class="card-img p-0"></a></div>
                                <div class="card-body">
                                    <div class="d-flex flex-row mb-3">
                                        <div class="p-2 text-dark"><a href="/"><i class="bi bi-diagram-3-fill"></i></a></div>
                                        <div class="p-2 text-dark"><a href="/"><i class="bi bi-shield-check "></i></a></div>
                                        <div class="p-2 text-dark"><a href="/"><i class="bi bi-house-fill"></i></a></div>
                                        <div class="p-2 text-dark"><a href="/"><i class="bi bi-sunglasses"></i></a></div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <ul>
                                <li><a class="text-light" href="/">Recruitment Portal</a></li>
                                <li><a class="text-light" href="/">Student Feedback</a></li>
                                <li><a class="text-light" href="/">Convocation</a></li>
                                <li><a class="text-light" href="/">File Tracking System</a></li>
                                <li><a class="text-light" href="/">Guest House Online Booking</a></li>
                                <li><a class="text-light" href="/">Caste-based discrimination complaints system</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <ul>
                                <li><a class="text-light" href="/">Academic Calendar</a></li>
                                <li><a class="text-light" href="/">Annual Property Return</a></li>
                                <li><a class="text-light" href="/">Annual Report</a></li>
                                <li><a class="text-light" href="/">Anti Ragging</a></li>
                                <li><a class="text-light" href="/">ARIIA</a></li>
                                <li><a class="text-light" href="/">Directory</a></li>
                                <li><a class="text-light" href="/">Fee Structure</a></li>
                                <li><a class="text-light" href="/">Holidays - 2022</a></li>
                                <li><a class="text-light" href="/">Internal Complaint Committee</a></li>
                                <li><a class="text-light" href="/">Forms</a></li>
                                <li><a class="text-light" href="/">Policies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <ul>
                                <li><a class="text-light" href="/">Library</a></li>
                                <li><a class="text-light" href="/">Manuals</a></li>
                                <li><a class="text-light" href="/">Recruitment</a></li>
                                <li><a class="text-light" href="/">RTI</a></li>
                                <li><a class="text-light" href="/">Scholarship</a></li>
                                <li><a class="text-light" href="/">Syllabus</a></li>
                                <li><a class="text-light" href="/">Tenders</a></li>
                                <li><a class="text-light" href="/">Women Cell</a></li>
                                <li><a class="text-light" href="/">Webinar Series</a></li>
                                <li><a class="text-light" href="/">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <!-- footer section  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    </body>

</html>