{% extends 'base.html' %}
{% block title %}Board of Governors{% endblock title %}
{% load static %}
{% block bog %}
<section>
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <th>Sl.No.</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Joined Date</th>
                </tr>
                {% for b in bogData %}
                <tr>
                    <td>01.</td>
                    <td>{{b.name}}</td>
                    <td>{{b.designation}}</td>
                    <td>{{b.date}}</td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</section>
{% endblock bog %}