{% extends 'base.html' %}
{% block title %}School of Planning and Architecture, Vijayawada{% endblock title %}
{% block index %}
{% load static %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="card p-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% for i in sliderImage %}
                            <img src="{{i.images.url}}" height="400px" class="d-block w-100" alt="...">
                            {% endfor %}
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        {% for a in alert %}
        {% if alert %}
        <div class="row p-1">
            <div class="alert alert-{{a.alertIntensity}} alert-dismissible fade show" role="alert">
                <marquee behavior="scroll" direction="left">
                    <a href="{{a.alertFile.url}}" target="_blank">{{a.alertTitle}}</a>
                </marquee>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
        {% endfor%}

        <div class="row g-1">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header p-0">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1"><i class="bi bi-file-medical-fill"></i>&nbsp; Noticeboard</div>
                            <div class="p-2"><a href="/noticeboard"><i class="bi bi-box-arrow-up-right"></i></a></div>
                        </div>
                    </div>
                    <div class="card-body  overflow-auto p-1" style="height: 230px;">
                        <ul>
                            {% for n in notice %}
                            <li><a href="{{n.noticeFile.url}}">{{n.noticeTitle}}</a></li>
                            {% endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card ">
                    <div class="card-header p-0">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1"><i class="bi bi-collection-play-fill"></i> &nbsp; Upcoming
                                Lectures</div>
                            <div class="p-2"><a href="/"><i class="bi bi-box-arrow-up-right"></i></a></div>
                        </div>
                    </div>
                    <div class="card-body overflow-auto p-1" style="height: 230px;">
                        <ul>
                            {% for l in lecture %}
                            <li><a href="{{n.noticeFile.url}}">{{l.lectureTitle}}</a></li>
                            {% endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header p-0">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1"><i class="bi bi-newspaper"></i> &nbsp; Academic Activities &
                                News Letter</div>
                            <div class="p-2"><a href="/na"><i class="bi bi-box-arrow-up-right"></i></a></div>
                        </div>
                    </div>
                    <div class="card-body overflow-auto p-1" style="height: 230px;">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Department of Planning
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <a href="/"><i class="bi bi-caret-right"></i>Academic Prospectus</a> <br> <a
                                            href=""><i class="bi bi-caret-right"></i>Newsletter - July 2021</a> <br> <a
                                            href=""><i class="bi bi-caret-right"></i>Activities</a>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        Department of Architecture
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <a href="/"><i class="bi bi-caret-right"></i>Academic Prospectus</a> <br> <a
                                            href=""><i class="bi bi-caret-right"></i>Newsletter - July 2021</a> <br> <a
                                            href=""><i class="bi bi-caret-right"></i>Activities</a>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Academics
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <a href="/"><i class="bi bi-caret-right"></i>Results</a> <br> <a href=""><i
                                                class="bi bi-caret-right"></i>Academic Calender</a> <br> <a href=""><i
                                                class="bi bi-caret-right"></i>Time Table</a>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingachive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseachive" aria-expanded="false"
                                        aria-controls="flush-collapseachive">
                                        Achivements
                                    </button>
                                </h2>
                                <div id="flush-collapseachive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingachive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <i class="bi bi-caret-right"></i><a href="/">Students Achivements</a> <br>
                                        <i class="bi bi-caret-right"></i><a href="/">Faculty Achivements</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<h1 class="text-center bg-primary text-light p-4">SPAV</h1>
<section>
    <div class="container-fluid p-1">
        <div class="row g-1">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">About</div>
                    <div class="card-body p-1">
                        <p>"School of Planning and Architecture, Vijayawada, (in short SPAV), was established on July 7,
                            2008 by the Ministry of Human Resource Development (MoE), Government of India, as an
                            autonomous institution. SPAV is a premier Centrally Funded Technical Institution (CFTI)
                            directly under the MoE, for excellence in the fields of Planning and Architecture. Although
                            in its nascent stage, with experienced faculty and guest lectures by eminent visiting
                            faculty and industry experts from all over the country, the quality of education imparted
                            and its focus on research puts SPAV in the league of leading institutes in the country."</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Video & Gallery</div>
                    <div class="card-body p-1">
                        <iframe class="card-img" width="560" height="285"
                            src="https://www.youtube.com/embed/AJ7vE64HLac" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-1">
                        <marquee behavior="scroll" direction="left">
                            <iframe class="card-img" width="560" height="90"
                                src="https://www.youtube.com/embed/AJ7vE64HLac" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <iframe class="card-img" width="560" height="90"
                                src="https://www.youtube.com/embed/AJ7vE64HLac" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">Vision</div>
                    <div class="card-body p-1">
                        <p>“ To achieve academic excellence in Architecture and Planning through innovating, creating,
                            acquiring and disseminating knowledge using sustainable local and global practices and
                            enhancing the quality of society through responsible built environment. ”</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-1">
                        <img src="{% static 'img/vision.jpg' %}" alt="" height="208px" class="card-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<h1 class="text-center bg-primary text-light p-4">Important</h1>
<section>
    <div class="container">
        <div class="row">
            <nav class="bg-primary border border-dark p-0">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link text-dark active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">Latest
                        Notifications</button>
                    <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Circulars /
                        Orders</button>
                    <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                        aria-selected="false">Recruitment</button>
                    <button class="nav-link text-dark" id="nav-disabled-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled"
                        aria-selected="false">Tender</button>
                </div>
            </nav>
            <div class="tab-content border border-primary " id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <ul>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                                tempora.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                                tempora.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                                tempora.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                                tempora.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
                                tempora.</a></li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                    tabindex="0">
                    <ul>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                    tabindex="0">
                    <ul>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, saepe?</a>
                        </li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, saepe?</a>
                        </li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, saepe?</a>
                        </li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, saepe?</a>
                        </li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, saepe?</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab"
                    tabindex="0">
                    <ul>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eius?</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eius?</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eius?</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eius?</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, eius?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container-fluid p-2">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed text-center bg-danger text-light p-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Quic Links
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row justify-content-center g-2">
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-calendar-check-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Academic Calender</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-file-text-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Anual Report</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-wallet-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Fee Recipt</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-ui-checks-grid"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Forms</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-phone-vibrate-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Directory</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-file-earmark-check-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Syllabus</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-pc-display-horizontal"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Computer Center</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-award-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Rankings</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-emoji-smile-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Holiday</a></div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h1><a href="/"><i class="bi bi-credit-card-2-front-fill"></i></a></h1>
                                    </div>
                                    <div class="card-footer"><a href="/">Payment</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<br>
<section>
    <h2 class="text-center bg-primary text-light p-2">Glimpse of Student's Work</h2>
    <div class="container-fluid p-2">
        <div class="row g-2">
            {% for sw in studentswork %}
            <div class="col-sm-1">
                <div class="card">
                    <img src="{{sw.image.url}}" alt="{{sw.altText}}" height="100" width="100" class="card-img">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<br>
<section>
    <h5 class="text-center bg-primary text-light p-2">Featured Logo</h5>
    <div class="container-fluid p-1">
        <div class="row g-1">

            {% for l in logo %}
            <div class="col-auto">
                <div class="card">
                    <marquee behavior="scroll" direction="left">
                        <a href="{{l.logoLink}}" target="_blank"><img src="{{l.logoImage.url}}" height="40" width="40"
                                alt="{{l.altText}}" class="card-img"></a>
                    </marquee>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


{% endblock index %}