{% extends 'base.html' %}
{% block title %}Senate{% endblock title %}
{% load static %}
{% block senate %}
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="card p-0">
                <div class="card-header text-center bg-primary text-light">Senate SPAV</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Sl.No.</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Joined Date</th>
                        </tr>
                        {% for f in senateData %}
                        <tr>
                            <td>01.</td>
                            <td>{{f.name}}</td>
                            <td>{{f.designation}}</td>
                            <td>{{f.date}}</td>
                        </tr>
                        {% endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock senate %}